@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.fechar{
    display: none !important;
}

#content{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: 0px auto;
}

.img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 60px;
}

.informacao .info-texto{
    margin-bottom: 16px;
}

.info-texto strong a{
    color: var(--c9);
}

.titulos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo{
    color: var(--c11);
    font-family: var(--font-poppins);
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
}

.subtitulo{
    color: var(--c7);
    font-family: var(--font-inter);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.info-titulo{
    color: var(--c11);
    font-family: var(--font-poppins);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 32px;
}

.info-texto{
    color: var(--c9);
    font-family: var(--font-inter);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

/* Animação */

.js .fadeInDown{
    transform: translate3d(0, -20px, 0);
}

.js .fadeInUp{
    transform: translate3d(0, 20px, 0);
}

.js .fadeInRight{
    transform: translate3d(20px, 0, 0);
}

.js .fadeInLeft{
    transform: translate3d(-20px, 0, 0);
}

.js [data-anime]{
    opacity: 0;
}

.js .anime{
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
}


/* MEDIA QUERIES */

@media (max-width: 1200px){
    .titulos .titulo{
        font-size: 48px;
        line-height: 60px;
    }

    .titulos .subtitulo{
        font-size: 20px;
        line-height: 24px;
    }

    .info-titulo{
        font-size: 32px;
        line-height: 36px;
    }

    .info-texto{
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 900px){
    .info-titulo{
        font-size: 24px;
        line-height: 32px;
    }

    .info-texto{
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 500px){
    .titulos .titulo{
        font-size: 32px;
        line-height: 36px;
    }

    .titulos .subtitulo{
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 400px){
    .info-texto{
        text-align: justify;
    }
}