#header{
    background-color: var(--w);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 140px;
    position: fixed;
    max-width: 1440px;
    width: 100%;
    z-index: 3;
}

#header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 10px;
}

#header-menu a{
    font-family: var(--font-poppins);
    font-size: 1rem;
    color: var(--c10);
    display: block;
    border-bottom: 1px solid var(--w);
}

#header-menu a:hover{
    border-color: var(--c10);
}