#header{
    background-color: var(--w);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 140px;
    margin: 0px auto;
    position: sticky;
    top: 0;
    max-width: 1440px;
    /* width: 100%; */
    z-index: 3;
}

/* #header img{
    display: block;
    max-width: 100%;
} */

#header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 10px;
}

#header-menu a{
    font-family: var(--font-poppins);
    font-size: 1rem;
    color: var(--c10);
    display: block;
    border-bottom: 1px solid var(--w);
}

#header-menu a:hover{
    border-color: var(--c10);
}

/* MEDIA QUERIES */

@media (max-width: 1000px){
    #header img{
        width: 300px;
    }
}

@media (max-width: 900px){
    #header img{
        width: 220px;
    }
}

@media (max-width: 800px){
    #header{
        flex-direction: column;
    }

    #header-menu{
        margin-top: 20px;
        gap: 64px;
    }
}

@media (max-width: 600px){
    #header{
        padding: 10px 0px;
    }

    /* menu-mobile */
    /* #header-menu{
        display: none;
    } */
}

@media (max-width: 500px){
    #header img{
        width: 180px;
    }
}