/* SECTION - PROJETO */

#portfolio{
    background-color: var(--a1);
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    margin: 120px 80px 0px 80px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 10%);
    height: 824px;
}

#titulos2 .subtitulo{
    padding: 80px 0px 0px 60px;
}

#titulos2 .titulo{
    padding-left: 60px;
}

#portfolio-container{
    display: flex;
    margin-top: 60px;
}

#portfolio-img{
    margin: 0px 20px 0px 60px;
    /* margin: 0px 100px 0px 60px; */
}

/* #portfolio-img img{
    width: 400px;
} */

#portfolio-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 60px;
}

#portfolio-info-img::before{
    content: "";
    background-color: #CCE0FF;
    width: 200px;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 50px;
}

#portfolio-info-img::after{
    content: "";
    background-color: #CCE0FF;
    width: 200px;
    height: 4px;
    position: absolute;
    right: 0px;
    top: 50px;
}