/* SECTION - HABILIDADE */

#habilidade{
    grid-column: 1 / -1;
    margin: 120px 0px 0px 140px;
}

#habilidade-content{
    display: flex;
    margin-top: 60px;
}

#habilidades{
    display: grid;
    gap: 60px 40px;
    grid-template-columns: repeat(2, 1fr);
}

.habilidade-info{
    display: flex;
    flex-direction: column;
    max-width: 650px;
    height: auto;
}

.habilidade-icone{
    margin-bottom: 20px;
}

.habilidade-icone img{
    width: 40px;
}

#habilidade-projeto{
    background-color: var(--a2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    margin-left: 20px;
}

#habilidade-projeto-titulo{
    color: var(--c12);
    font-family: var(--font-poppins);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

#habilidade-projeto-texto{
    color: var(--c11);
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

#habilidade-projeto-link{
    color: var(--c11);
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 1px solid var(--c10);
}

#habilidade-projeto-link:hover{
    border-bottom: none;
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
    #habilidade .titulo{
        font-size: 48px;
        line-height: 60px;
    }

    #habilidade .subtitulo{
        font-size: 20px;
        line-height: 24px;
    }

    .habilidade-info .info-titulo{
        font-size: 32px;
        line-height: 36px;
    }

    .habilidade-info .info-texto{
        font-size: 20px;
        line-height: 24px;
    }

    #habilidade-projeto-titulo{
        font-size: 32px;
        line-height: 36px;
    }

    #habilidade-content{
        flex-direction: column;
    }

    #habilidade-projeto{
        padding-top: 20px;
        margin-left: 0px;
        border-radius: 0px 0px 5px 5px;
    }
}

@media (max-width: 900px){
    #habilidade{
        margin-left: 30px;
        margin-right: 30px;
    }

    .habilidade-info .info-titulo{
        font-size: 24px;
        line-height: 32px;
    }

    .habilidade-info .info-texto{
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 600px){
   #habilidade{
    margin-left: 20px;
    margin-right: 20px;
   }

   #habilidades{
    gap: 40px 20px;
    grid-template-columns: 1fr;
   }
}

@media (max-width: 500px){
    #habilidade .titulo{
        font-size: 32px;
        line-height: 36px;
    }

    #habilidade .subtitulo{
        font-size: 12px;
        line-height: 16px;
    }
}