/* SECTION - INTRODUÇÃO */

#introducao{
    background-color: var(--a1);
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    margin: 120px 80px 0px 80px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 10%);
    height: 700px;
}

#introducao-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 166px 60px;
    height: 700px;
    max-width: 100%;
}

#introducao-info #introducao-titulo{
    color: var(--c11);
    font-family: var(--font-poppins);
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 48px;
}

#introducao-info #introducao-icones{
    display: flex;
    gap: 20px;
}

#introducao-icones a img{
    width: 25px;
}

#introducao-img img{
    display: block;
    width: 450px;
    height: auto;
}

/* MEDIA QUERIES */

@media (max-width: 1300px){
    #introducao-info #introducao-titulo{
        font-size: 62px;
    }

    #introducao-info .texto{
        font-size: 20px;
    }

    #introducao-img img{
        width: 440px;
    }
}

@media (max-width: 1200px){
    #introducao{
        margin-left: 60px;
        margin-right: 60px;
    }

    #introducao-info{
        padding: 166px 80px;
    }

    #introducao-info #introducao-titulo{
        font-size: 52px;
        line-height: 60px;
    }

    #introducao-img img{
        width: 410px;
    }
}

@media (max-width: 1100px){
    #introducao{
        margin-left: 40px;
        margin-right: 40px;
        height: 500px;
    }

    #introducao-info{
        padding: 166px 100px;
        height: 500px;
    }

    #introducao-info #introducao-titulo{
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    #introducao-info .texto{
        font-size: 18px;
    }

    #introducao-img img{
        width: 320px;
    }
}

@media (max-width: 1000px){
    #introducao{
        margin-left: 30px;
        margin-right: 30px;
    }

    #introducao-info{
        padding-right: 80px;
    }

    #introducao-img img{
        width: 280px;
    }
}

@media (max-width: 900px){
    #introducao-info{
        padding-right: 40px;
    }

    #introducao-img img{
        width: 220px;
    }
}

@media (max-width: 800px){
    #introducao{
        height: 450px;
    }

    #introducao-info{
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        height: 450px;
    }

    #introducao-info #introducao-titulo{
        font-size: 44px;
    }

    #introducao-info #introducao-icones{
        align-self: center;
        gap: 40px;
    }

    #introducao-info #introducao-icones a img{
        width: 30px;
    }

    #introducao-img{
        display: none;
    }
}


@media (max-width: 600px){
    #introducao-info #introducao-titulo{
        font-size: 38px;
    }

    #introducao-info #introducao-titulo{
        text-align: center;
    }
}

@media (max-width: 400px){
    #introducao{
        margin-left: 20px;
        margin-right: 20px;
        height: 500px;
    }

    #introducao-info{
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        height: 500px;
    }

    #introducao-info #introducao-titulo{
        font-size: 28px;
    }

    #introducao-info .texto{
        text-align: justify;
    }
}