#formacao2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column: 1 / -1;
    margin: 120px 140px 0px 140px;
}

#formacoes-info{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 60px 20px;
    margin-top: 60px;
}

.formacao{
    background-color: var(--c10);
    width: 350px;
    border-radius: 5px;
}

.formacao img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#header-menu li #formacao-view{
    border-bottom: 1px solid var(--c12);
}

#formacao-view:hover{
    border-bottom: none;
}