#formacao2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    margin: 120px 140px 0px 140px;
}

#formacoes-info{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 60px;
}

.formacao{
    width: 340px;
}

.formacao img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#header-menu li #formacao-view{
    border-bottom: 2px solid var(--c10);
}

#formacao-view:hover::after{
    display: none;
}

/* MEDIA QUERIES */

@media (min-width: 1400px){
    #formacoes-info{
        justify-content: space-between;
    }
}

@media (max-width: 800px){
    #formacao2{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 500px){
    .formacao{
        width: 320px;
    }
}

@media (max-width: 400px){
    #formacao2{
        margin-left: 20px;
        margin-right: 20px;
    }

    .formacao{
        width: 260px;
    }
}